{% include 'header.html' %}
<div>
    VISION
</div>

<div>
    <span>Quienes somos:</span>
    <span>
        <p>Somos una AI que pretende ayudarte a tomar las mejores decisiones a la 
            hora de invertir
        </p>
    </span>
</div>

<div>
    <span>Como lo hacemos:</span>
    <span>
        <p>
            Nuestro algoritmo toma la informacion directamente de la pagina oficial
            de Yahoo Finance, y analiza su comportamiento segun las fechas que tu especificas.
            Despues somos capacer de decirte el comportamiento de un activo en comparacion a la 
            fluctuacion de su par que elegiste
        </p>
    </span>
</div>

<div>
    <span>Recomendaciones:</span>
    <p>
        Te sugerimos investigar sobre los activos que estan relacionados para puedas
        sacar el mejor provecho a nuestro algoritmo de comparaciones, de esta manera 
        podras usar de manera eficiente la fluctuacion de los precios
    </p>
</div>

<div>
    <span>
        Esta es nuestra version beta, gracias por aydurnos a mejorar...
    </span>
</div>
{% include 'footer.html' %}