{% include 'header.html' %}

<div class="tittle">
    Elige los simbolos a comparar
</div>

<br>

<div>
    <p>Para poder predecir precios de los activos, primero debemos recolectar algunos datos:</p>
</div>
<br><br>
    <form method="POST" action="{{url_for('guardarData')}}">

                <!-- <div class="value">
                    <p>Elige activos:</p> 
                </div> -->
            <div  class="grid">
                <div>
                    <span>Por favor elige tu tu activo base:</span>
                    <span class="info">Simbolo 1:</span>
                    <input name="txtSimbolo1" type="text" placeholder="example: 'CL=F'">
                </div>
                <br>
                <div>
                    <span>por favor elige el activo que quieres predecir:</span>
                    <sapn class="info">Simbolo 2:</sapn>
                    <input name="txtSimbolo2" type="text" placeholder="example: 'GC=F'">
                </div>
                <br>
                <div class="value">
                    <span class="info">Estamos a un paso de terminar</span>
                </div>
                <br>
                <div>
                    <span>Ahora elige las fechas desde donde quieres empezar a analizar</span>
                    <span class="info">Fecha apertura:</span>
                    <input name="txtFechaApertura" type="date" placeholder="example: '2020-05-10'">
                    <br>
                    <span>Para terminar, elige la fecha de cierre:</span>
                    <span class="info">Fecha cierre:</span>
                    <input name="txtFechaCierre" type="date" placeholder="example: '2020-05-10'">
                </div>
                <div class="buttonGuardar">
                    <button class="btnGuardar" type="submit">Guardar...</button>
                </div>
            </div>
                
    </form>





{% include 'footer.html' %}