<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="/static/styleslogin.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<form id="logIn" method="post" action="{{url_for('iniciarSesion')}}">
	<div class="form-field">
		{% with messages= get_flashed_messages()  %}
		{% if messages %}
			<div class="alert alert-danger" role="alert" style="color:rgb(253, 253, 253); background-color:rgb(18, 74, 228); align-self: 0 auto;">
				{% for message in messages %}
					{{message}}
				{% endfor %}    
			</div>
		{% endif %}
		{% endwith   %}		
	</div>

    <br>
  <div class="form-field">
    <input type="email" placeholder="Correo" name="txtCorreo" id="txtCorreo" required/>
  </div>
  
  <div class="form-field">
    <input type="password" placeholder="Contraseña" name="txtContra" id="txtContra" required/>                         </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Iniciar sesion</button>
  </div>
  <div class="form-field">
    <a class="btn1" href="{{url_for('crearCuenta')}}">Crear Cuenta</a>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
