{% include 'header.html' %}

<!-- {% if sim1 %}:
        {% if sim2 %}:
        Ahora solo veriquemos los datos para hacer tus predicciones
        <div>
                <span>Has elegio como tu base: {{sim1}}  </span>
                <span>Has elegido como tu prediccion: {{sim2}}</span>
                <span> </span>
        </div>

        Ahora elige el precio de comparacion: por ejempl0 50

        <div>
                Nuestra IA te dire que valor alcanza el {{sim2}} cuando el {{sim1}}
                alcanza ese precio.
        </div>

        <form method="post" action="{{url_for('predecir')}}">
                <input placeholder="Ingrese un valor">
                <button type="sumit">Realizar prediccion</button>
        </form>
        {% endif %}
{% endif %} -->

{% if sim1 and sim2 %}
        <div class="grid">
                <div>
                        <div>
                                <span>Has elegio como tu base: {{sim1}}  </span>                                

                        </div>
                <span>Has elegido como tu prediccion: {{sim2}}</span>
                <span> </span>
                </div>

                Ahora elige el precio de comparacion: por ejempl0 50

                <div>
                        Nuestra IA te dire que valor alcanza el {{sim2}} cuando el {{sim1}}
                        alcanza ese precio.
                </div>

                <form method="post" action="{{url_for('predecir')}}">
                        <input name="precio" id="precio" placeholder="Ingrese un valor">
                        <button type="submit">Realizar prediccion</button>
                </form>
                

        </div>


        
{% elif precio and val2 and val1 %}

        <div class="grid">
                <div>
                        <div>
                                <span>Has elegio como tu base: {{val1}}  </span>
                                
                        </div>
                <span>Has elegido como tu prediccion: {{sim2}}</span>
                <span> </span>
                </div>
        
                Ahora elige el precio de comparacion: por ejempl0 50
        
                <div>
                        Nuestra IA te dire que valor alcanza el {{val2}} cuando el {{val1}}
                        alcanza ese precio.
                </div>
        
                <form method="post" action="{{url_for('predecir')}}">
                        <input name="precio" placeholder="Ingrese un valor">
                        <button type="sumit">Realizar prediccion</button>
                </form>

        </div>

        <br><br><br>
        <div class="grid">
                Cuando el precio de <span class="info">{{val1}}</span> es de {{base}}, entonces el precio de <span class="info">{{val2}}</span>
                tiende a ser <span class="predict">{{precio}}</span>
        </div>
        

{% else %}

        <div class="flexbox">
                <span class="pmt">Por favor ingrese los parametros desde Home</span>

                
        </div>

      
        
        
{% endif %}


                


        

{% include 'footer.html' %}