@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

@keyframes myAnim {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(2px, -2px);
	}

	40% {
		transform: translate(2px, 2px);
	}

	60% {
		transform: translate(-2px, 2px);
	}

	80% {
		transform: translate(-2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}
@keyframes buttonAnim {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes tittleAnim {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

@keyframes myAnimMostrar {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

body{
	background-image: url();
}

.btnMostrar{
	top: 50%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 20px;
    align-content: center;
    border: none;
    border-radius: 30px;
    padding: center;
    width: 100px	
}

.btnOcultar{
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 15px;
    align-content: center;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: auto;
}

.txtSimbolo{
	font-size: 30px;
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.tittle{
    animation: tittleAnim 1s ease-in 2s 3 reverse forwards;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    border: 11px double #000;
    /* background-color: aqua; */
    padding: 5px;
    text-align: center;
    width: 1000px;
    align-content: center;
    margin: 0 auto;
}
.container{
	padding: 50px;
	text-align: center;

}
.container .border{
    /* background-color: rgb(58, 154, 167); */
    padding: 20px;
    width: auto;
}

.border .value{
	animation: myAnim 2s ease-out 1s 1 alternate forwards;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.border .info{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(35, 12, 245);
    font-style: italic;
    font-size: 20px;
}
.buttonGuardar{
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px
}
.btnGuardar{
    top: 50%;
    background-color: rgb(115, 115, 220);
    color: #fff;
    font-size: 20px;
    align-content: center;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px
}
.btnGuardar:hover{
    animation: buttonAnim 1s ease-in 1s 1 reverse forwards;
    background-color:aqua;
    transition: 0.10s;
    color: #000;
}



/* .bodyStyle{
    

} */

.tablasHead{
	background-color: black;
	color: #fff;
}
.tablasBody{
	background-color:rgb(158, 245, 245);
	color: rgb(5, 5, 5)
}

.tittleSimbolo{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    border: 11px double #000;
    background-color: aqua;
    padding: 5px;
    text-align: center;
    width: 1000px;
    align-content: center;
    margin: 0 auto;
}
.tableSize{
	width: 500px;
}

.btnDivisa{
	top: 50%;
    background-color: rgb(115, 115, 220);
    color: #fff;
    font-size: 20px;
    align-content: center;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px
}
.desplegable {
	display: none;
	overflow: hidden;
}
.btnDivisa:hover {
	display: block;
	background-color: rebeccapurple;
}


.flexbox{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.flexbox .txtSimbolo{
	font-size: 35px;
	font-style: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.perfil{
	height: 100vh;
	display: grid;
	 
 /* Cambia los valores para experimentar👇 */
	align-content: center;
	justify-content: center;
	padding: 50px;
	background-color: aqua;

	
}
.perfil .name{
	padding: 10px;
	font-family:'Times New Roman', Times, serif;
	font-size: 20px;
}
.perfil .lastname{
	padding: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}

.btnSalir {
	outline: none;
	border: none;
	cursor: pointer;
	display: inline-block;
	margin: 0 auto;
	padding: 0.9rem 2.5rem;
	text-align: center;
	background-color: #ff3b0a;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	font-size: 17px;
}
